{
  "name": "com.downloadaja.native_host",
  "description": "DOWNLOAD-AJA Chrome native messaging host",
  "path": "__ABSOLUTE_NATIVE_HOST_PATH__",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://noobgcmaelhpcooeoflkjnkolkhcpmcl/"
  ]
}
